/*.box_1 {
    position: static;
    width: 200px;
    height: 200px;
    background: #ee3e64;
}

.box_2 {
    position: static;
    width: 200px;
    height: 200px;
    background: #44accf;
}

.box_3 {
    position: static;
    width: 200px;
    height: 200px;
    background: #b7d84b;
}*/

/*.box_1 {
    position: relative;
    width: 200px;
    height: 200px;
    background: #ee3e64;
}

.box_2 {
    position: relative;
    left: 200px;
    width: 200px;
    height: 200px;
    background: #44accf;
}

.box_3 {
    position: relative;
    width: 200px;
    height: 200px;
    background: #b7d84b;
}*/

/*.box_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: #ee3e64;
}
.box_2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background: #44accf;
}
.box_3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: #b7d84b;
}
.box_4 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background: pink;
}*/



/*.box_a {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: red;
}
.box_b {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    background: white;
}*/

/*.box_1 {
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 0;
    background: #ee3e64;
}

.box_2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 80%;
    background: #b7d84b;
}*/

/*.box_1 {
    width: 200px;
    height: 200px;
    background: #ee3e64;
}
.box_2 {
    position: absolute;
    left: 100px;
    top: 0;
    width: 200px;
    height: 200px;
    background: #44accf;
}*/

.box_2 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: green;
}

.box_1 {
    position: absolute;
    left: 100px;
    bottom: 100px;
    width: 200px;
    height: 200px;
    background: pink;
}

.box_3 {
    position: absolute;
    right: -20px;
    top: -30px;
    width: 200px;
    height: 200px;
    background: yellow;
    border-radius: 50%;
}
